
@using TepayLink.Sdisco.Web.Areas.Admin.Models.Common.Modals
@using TepayLink.Sdisco.Web.Areas.Admin.Models.BookingRefunds
@model BookingRefundViewModel

@await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="BookingRefundInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("BookingDetailId") :</h6>
                @Model.BookingRefund.BookingDetailId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("RefundMethodId") :</h6>
                @Model.BookingRefund.RefundMethodId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.BookingRefund.Description
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Status") :</h6>
                @Model.BookingRefund.Status
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Amount") :</h6>
                @Model.BookingRefund.Amount
            </div>


        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalFooterWithClose.cshtml")

