
@using TepayLink.Sdisco.Web.Areas.Admin.Models.Common.Modals
@using TepayLink.Sdisco.Web.Areas.Admin.Models.NearbyPlaces
@model NearbyPlaceViewModel

@await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="NearbyPlaceInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.NearbyPlace.Description
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("Place")) @L("Name") :</h6>
                @Model.PlaceName
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("Place")) @L("Name") :</h6>
                @Model.PlaceName2
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalFooterWithClose.cshtml")

