@using TepayLink.Sdisco.Authorization
@using TepayLink.Sdisco.Web.Areas.Admin.Models.ProductReviewDetails
@using TepayLink.Sdisco.Web.Areas.Admin.Startup
@model ProductReviewDetailsViewModel
@{
    ViewBag.CurrentPageName = AdminPageNames.Common.ProductReviewDetails;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/Admin/Views/ProductReviewDetails/Index.js" asp-append-version="true"></script>
}

 <div class="kt-subheader kt-grid__item">
  
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">
            <span>@L("ProductReviewDetails")</span>
        </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <span class="kt-subheader__desc">
            @L("ProductReviewDetailsHeaderInfo")
        </span>
    </div>
    <div class="kt-subheader__toolbar">
        <div class="kt-subheader__wrapper">
            <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>
            @if (IsGranted(AppPermissions.Pages_Administration_ProductReviewDetails_Create))
            {
                <button id="CreateNewProductReviewDetailButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewProductReviewDetail")</button>
            }
        </div>
    </div>
  
</div>
<div class="kt-content">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body">
            <div class="kt-form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">
                        <div class="form-group align-items-center">
                            <div class="input-group">
                                <input type="text" id="ProductReviewDetailsTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetProductReviewDetailsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
						<div class="kt-separator kt-separator--border-dashed"></div>
					</div>


                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
            <div class="row align-items-center">
                <table id="ProductReviewDetailsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>@L("Actions")</th>
								<th>@L("RatingAvg")</th>
								<th>@L("Intineraty")</th>
								<th>@L("Service")</th>
								<th>@L("Transport")</th>
								<th>@L("GuideTour")</th>
								<th>@L("Food")</th>
								<th>@L("Title")</th>
								<th>@L("Comment")</th>
								<th>@L("BookingId")</th>
								<th>@L("Read")</th>
								<th>@L("ReplyComment")</th>
								<th>@L("ReplyId")</th>
								<th>@L("Avatar")</th>
								<th>@L("Reviewer")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
  
</div>