
@using TepayLink.Sdisco.Web.Areas.Admin.Models.Common.Modals
@using TepayLink.Sdisco.Web.Areas.Admin.Models.ProductDetailCombos
@model ProductDetailComboViewModel

@await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="ProductDetailComboInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("RoomId") :</h6>
                @Model.ProductDetailCombo.RoomId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.ProductDetailCombo.Description
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("Product")) @L("Name") :</h6>
                @Model.ProductName
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("ProductDetail")) @L("Title") :</h6>
                @Model.ProductDetailTitle
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("Product")) @L("Name") :</h6>
                @Model.ProductName2
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalFooterWithClose.cshtml")

