@using TepayLink.Sdisco.Authorization
@using TepayLink.Sdisco.Web.Areas.Admin.Models.Products
@using TepayLink.Sdisco.Web.Areas.Admin.Startup
@model ProductsViewModel
@{
    ViewBag.CurrentPageName = AdminPageNames.Common.Products;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/Admin/Views/Products/Index.js" asp-append-version="true"></script>
}

 <div class="kt-subheader kt-grid__item">
  
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">
            <span>@L("Products")</span>
        </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <span class="kt-subheader__desc">
            @L("ProductsHeaderInfo")
        </span>
    </div>
    <div class="kt-subheader__toolbar">
        <div class="kt-subheader__wrapper">
            <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>
            @if (IsGranted(AppPermissions.Pages_Administration_Products_Create))
            {
                <button id="CreateNewProductButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewProduct")</button>
            }
        </div>
    </div>
  
</div>
<div class="kt-content">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body">
            <div class="kt-form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">
                        <div class="form-group align-items-center">
                            <div class="input-group">
                                <input type="text" id="ProductsTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetProductsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
						<div class="kt-separator kt-separator--border-dashed"></div>
					</div>

							<div class="col-md-3">
								<div class="form-group">
									<label for="NameFilterId">@L("Name")</label>
									<input type="text" class="form-control" name="nameFilter" id="NameFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<label for="TypeFilterId">@L("Type")</label>
								<select class="form-control" name="TypeFilter" id="TypeFilterId">
								<option value="-1">@L("All")</option>
																			<option value="1">@L("Enum_ProductTypeEnum_1")</option>

										<option value="2">@L("Enum_ProductTypeEnum_2")</option>

										<option value="3">@L("Enum_ProductTypeEnum_3")</option>

										<option value="4">@L("Enum_ProductTypeEnum_4")</option>

										<option value="5">@L("Enum_ProductTypeEnum_5")</option>

										<option value="6">@L("Enum_ProductTypeEnum_6")</option>

										<option value="7">@L("Enum_ProductTypeEnum_7")</option>

										<option value="8">@L("Enum_ProductTypeEnum_8")</option>


								</select>
                            </div>
							<div class="col-md-3">
								<label for="StatusFilterId">@L("Status")</label>
								<select class="form-control" name="StatusFilter" id="StatusFilterId">
								<option value="-1">@L("All")</option>
									
								</select>
                            </div>
							<div class="col-md-3">
								<label for="IncludeTourGuideFilterId">@L("IncludeTourGuide")</label>
								<select class="form-control" name="IncludeTourGuideFilter" id="IncludeTourGuideFilterId">
									<option value="-1">@L("All")</option>
									<option value="0">@L("False")</option>
									<option value="1">@L("True")</option>
								</select>
                            </div>
							<div class="col-md-3">
								<label for="AllowRetailFilterId">@L("AllowRetail")</label>
								<select class="form-control" name="AllowRetailFilter" id="AllowRetailFilterId">
									<option value="-1">@L("All")</option>
									<option value="0">@L("False")</option>
									<option value="1">@L("True")</option>
								</select>
                            </div>
                            <div class="col-md-3">
                                 <div class="form-group">
									<label  for="MinPriceFilterId">@L("MinMax") @L("Price")</label>
									<div class="input-group">
										<input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minPriceFilter" id="MinPriceFilterId"/>
                                        <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxPriceFilter"  id="MaxPriceFilterId"/>
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<label for="IsTrendingFilterId">@L("IsTrending")</label>
								<select class="form-control" name="IsTrendingFilter" id="IsTrendingFilterId">
									<option value="-1">@L("All")</option>
									<option value="0">@L("False")</option>
									<option value="1">@L("True")</option>
								</select>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="ExtraDataFilterId">@L("ExtraData")</label>
									<input type="text" class="form-control" name="extraDataFilter" id="ExtraDataFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="WhatWeDoFilterId">@L("WhatWeDo")</label>
									<input type="text" class="form-control" name="whatWeDoFilter" id="WhatWeDoFilterId">
								</div>
                            </div>
                            <div class="col-md-3">
                                    <div class="form-group">
										<label for="MinLastBookTimeFilterId">@L("LastBookTimeRange")</label>
										<div class="input-group">
											<input class="form-control m-input date-picker" type="text" placeholder="@L("MinValue")"  id="MinLastBookTimeFilterId">
											<span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
											<input class="form-control m-input date-picker" type="text" placeholder="@L("MaxValue")"  id="MaxLastBookTimeFilterId">
										</div>
									</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="CategoryNameFilterId">(@L("Category")) @L("Name")</label>
									<input type="text" class="form-control" name="categoryNameFilter" id="CategoryNameFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="UserNameFilterId">(@L("User")) @L("Name")</label>
									<input type="text" class="form-control" name="userNameFilter" id="UserNameFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="PlaceNameFilterId">(@L("Place")) @L("Name")</label>
									<input type="text" class="form-control" name="placeNameFilter" id="PlaceNameFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="ApplicationLanguageNameFilterId">(@L("ApplicationLanguage")) @L("Name")</label>
									<input type="text" class="form-control" name="applicationLanguageNameFilter" id="ApplicationLanguageNameFilterId">
								</div>
                            </div>

                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
            <div class="row align-items-center">
                <table id="ProductsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>@L("Actions")</th>
								<th>@L("Name")</th>
								<th>@L("Type")</th>
								<th>@L("Status")</th>
								<th>@L("Description")</th>
								<th>@L("Policies")</th>
								<th>@L("Duration")</th>
								<th>@L("StartTime")</th>
								<th>@L("IncludeTourGuide")</th>
								<th>@L("AllowRetail")</th>
								<th>@L("TotalSlot")</th>
								<th>@L("Price")</th>
								<th>@L("InstantBook")</th>
								<th>@L("TripLengh")</th>
								<th>@L("IsHotDeal")</th>
								<th>@L("IsBestSeller")</th>
								<th>@L("IsTrending")</th>
								<th>@L("IsTop")</th>
								<th>@L("ExtraData")</th>
								<th>@L("WhatWeDo")</th>
								<th>@L("LastBookTime")</th>
								<th>@L("CategoryName")</th>
								<th>@L("UserName")</th>
								<th>@L("PlaceName")</th>
								<th>@L("ApplicationLanguageName")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
  
</div>