
@using TepayLink.Sdisco.Web.Areas.Admin.Models.Common.Modals
@using TepayLink.Sdisco.Web.Areas.Admin.Models.WithDrawRequests
@model WithDrawRequestViewModel

@await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="WithDrawRequestInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("UserId") :</h6>
                @Model.WithDrawRequest.UserId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Amount") :</h6>
                @Model.WithDrawRequest.Amount
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Status") :</h6>
                @L("Enum_WithDrawRequestStatus_" + (int)Model.WithDrawRequest.Status)
            </div>
            <div class="col-6 mb-3">
                <h6>@L("TransactionId") :</h6>
                @Model.WithDrawRequest.TransactionId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("BankAccountId") :</h6>
                @Model.WithDrawRequest.BankAccountId
            </div>


        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalFooterWithClose.cshtml")

