
@using System.Globalization
@using TepayLink.Sdisco.Web.Areas.Admin.Models.Common.Modals
@using TepayLink.Sdisco.Web.Areas.Admin.Models.ClientSettings
@model CreateOrEditClientSettingModalViewModel

@await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditClientSetting")) : L("CreateNewClientSetting")))

<div class="modal-body">
        <div id="ClientSettingInformationsTab">
            <form name="ClientSettingInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.ClientSetting.Id" />
                }

				

				
								<div class="form-group">
									<label for="ClientSetting_Key">@L("Key")</label>
									<input class="form-control" id="ClientSetting_Key" value="@Model.ClientSetting.Key" type="text" name="key"  required    />
								</div>
					
								<div class="form-group">
									<label for="ClientSetting_Value">@L("Value")</label>
									<input class="form-control" id="ClientSetting_Value" value="@Model.ClientSetting.Value" type="text" name="value"     />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
