@using TepayLink.Sdisco.Authorization
@using TepayLink.Sdisco.Web.Areas.Admin.Models.ShareTransactions
@using TepayLink.Sdisco.Web.Areas.Admin.Startup
@model ShareTransactionsViewModel
@{
    ViewBag.CurrentPageName = AdminPageNames.Common.ShareTransactions;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/Admin/Views/ShareTransactions/Index.js" asp-append-version="true"></script>
}

 <div class="kt-subheader kt-grid__item">
  
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">
            <span>@L("ShareTransactions")</span>
        </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <span class="kt-subheader__desc">
            @L("ShareTransactionsHeaderInfo")
        </span>
    </div>
    <div class="kt-subheader__toolbar">
        <div class="kt-subheader__wrapper">
            <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>
            @if (IsGranted(AppPermissions.Pages_Administration_ShareTransactions_Create))
            {
                <button id="CreateNewShareTransactionButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewShareTransaction")</button>
            }
        </div>
    </div>
  
</div>
<div class="kt-content">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body">
            <div class="kt-form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">
                        <div class="form-group align-items-center">
                            <div class="input-group">
                                <input type="text" id="ShareTransactionsTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetShareTransactionsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
						<div class="kt-separator kt-separator--border-dashed"></div>
					</div>

                            <div class="col-md-3">
                                 <div class="form-group">
									<label  for="MinUserIdFilterId">@L("MinMax") @L("UserId")</label>
									<div class="input-group">
										<input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minUserIdFilter" id="MinUserIdFilterId"/>
                                        <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxUserIdFilter"  id="MaxUserIdFilterId"/>
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<label for="TypeFilterId">@L("Type")</label>
								<select class="form-control" name="TypeFilter" id="TypeFilterId">
								<option value="-1">@L("All")</option>
																			<option value="1">@L("Enum_RevenueTypeEnum_1")</option>

										<option value="2">@L("Enum_RevenueTypeEnum_2")</option>

										<option value="3">@L("Enum_RevenueTypeEnum_3")</option>

										<option value="4">@L("Enum_RevenueTypeEnum_4")</option>


								</select>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="IPFilterId">@L("IP")</label>
									<input type="text" class="form-control" name="ipFilter" id="IPFilterId">
								</div>
                            </div>
                            <div class="col-md-3">
                                 <div class="form-group">
									<label  for="MinPointFilterId">@L("MinMax") @L("Point")</label>
									<div class="input-group">
										<input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minPointFilter" id="MinPointFilterId"/>
                                        <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxPointFilter"  id="MaxPointFilterId"/>
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                 <div class="form-group">
									<label  for="MinProductIdFilterId">@L("MinMax") @L("ProductId")</label>
									<div class="input-group">
										<input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minProductIdFilter" id="MinProductIdFilterId"/>
                                        <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxProductIdFilter"  id="MaxProductIdFilterId"/>
									</div>
                                </div>
                            </div>

                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
            <div class="row align-items-center">
                <table id="ShareTransactionsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>@L("Actions")</th>
								<th>@L("UserId")</th>
								<th>@L("Type")</th>
								<th>@L("IP")</th>
								<th>@L("Point")</th>
								<th>@L("ProductId")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
  
</div>