
@using TepayLink.Sdisco.Web.Areas.Admin.Models.Common.Modals
@using TepayLink.Sdisco.Web.Areas.Admin.Models.Places
@model PlaceViewModel

@await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="PlaceInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Name") :</h6>
                @Model.Place.Name
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DisplayAddress") :</h6>
                @Model.Place.DisplayAddress
            </div>
            <div class="col-6 mb-3">
                <h6>@L("GoogleAddress") :</h6>
                @Model.Place.GoogleAddress
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Overview") :</h6>
                @Model.Place.Overview
            </div>
            <div class="col-6 mb-3">
                <h6>@L("WhatToExpect") :</h6>
                @Model.Place.WhatToExpect
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("Detination")) @L("Name") :</h6>
                @Model.DetinationName
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("PlaceCategory")) @L("Name") :</h6>
                @Model.PlaceCategoryName
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalFooterWithClose.cshtml")

