
@using TepayLink.Sdisco.Web.Areas.Admin.Models.Common.Modals
@using TepayLink.Sdisco.Web.Areas.Admin.Models.UserReviewDetails
@model UserReviewDetailViewModel

@await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="UserReviewDetailInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("UserId") :</h6>
                @Model.UserReviewDetail.UserId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Itineraty") :</h6>
                @Model.UserReviewDetail.Itineraty
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Service") :</h6>
                @Model.UserReviewDetail.Service
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Transport") :</h6>
                @Model.UserReviewDetail.Transport
            </div>
            <div class="col-6 mb-3">
                <h6>@L("GuideTour") :</h6>
                @Model.UserReviewDetail.GuideTour
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Food") :</h6>
                @Model.UserReviewDetail.Food
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Rating") :</h6>
                @Model.UserReviewDetail.Rating
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Title") :</h6>
                @Model.UserReviewDetail.Title
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Comment") :</h6>
                @Model.UserReviewDetail.Comment
            </div>


        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalFooterWithClose.cshtml")

