
@using System.Globalization
@using TepayLink.Sdisco.Web.Areas.Admin.Models.Common.Modals
@using TepayLink.Sdisco.Web.Areas.Admin.Models.BlogComments
@model CreateOrEditBlogCommentModalViewModel

@await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditBlogComment")) : L("CreateNewBlogComment")))

<div class="modal-body">
        <div id="BlogCommentInformationsTab">
            <form name="BlogCommentInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.BlogComment.Id" />
                }

				            
								<div class="form-group m-form__group">
										<label for="BlogPostTitle">@L("BlogPost")</label>
									    <div class="input-group">
											<input class="form-control" id="BlogPostTitle" name="blogPostTitle" value="@Model.BlogPostTitle" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenBlogPostLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearBlogPostTitleButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="BlogComment_BlogPostId" value="@Model.BlogComment.BlogPostId" type="text" name="blogPostId"  hidden/>
								}
								 else
								{ 
									<input class="form-control" id="BlogComment_BlogPostId" value="" type="text" name="blogPostId"  hidden/>
								}



				

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
