
@using TepayLink.Sdisco.Web.Areas.Admin.Models.Common.Modals
@using TepayLink.Sdisco.Web.Areas.Admin.Models.Coupons
@model CouponViewModel

@await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="CouponInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Code") :</h6>
                @Model.Coupon.Code
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Amount") :</h6>
                @Model.Coupon.Amount
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Status") :</h6>
                @L("Enum_CouponStatusEnum_" + (int)Model.Coupon.Status)
            </div>


        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalFooterWithClose.cshtml")

