
@using TepayLink.Sdisco.Web.Areas.Admin.Models.Common.Modals
@using TepayLink.Sdisco.Web.Areas.Admin.Models.ShortLinks
@model ShortLinkViewModel

@await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="ShortLinkInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("UserId") :</h6>
                @Model.ShortLink.UserId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("FullLink") :</h6>
                @Model.ShortLink.FullLink
            </div>
            <div class="col-6 mb-3">
                <h6>@L("ShortCode") :</h6>
                @Model.ShortLink.ShortCode
            </div>


        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalFooterWithClose.cshtml")

