
@using System.Globalization
@using TepayLink.Sdisco.Web.Areas.Admin.Models.Common.Modals
@using TepayLink.Sdisco.Web.Areas.Admin.Models.ProductReviews
@model CreateOrEditProductReviewModalViewModel

@await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditProductReview")) : L("CreateNewProductReview")))

<div class="modal-body">
        <div id="ProductReviewInformationsTab">
            <form name="ProductReviewInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.ProductReview.Id" />
                }

				            
								<div class="form-group m-form__group">
										<label for="ProductName">@L("Product")</label>
									    <div class="input-group">
											<input class="form-control" id="ProductName" name="productName" value="@Model.ProductName" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenProductLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearProductNameButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="ProductReview_ProductId" value="@Model.ProductReview.ProductId" type="text" name="productId"  hidden/>
								}
								 else
								{ 
									<input class="form-control" id="ProductReview_ProductId" value="" type="text" name="productId"  hidden/>
								}



				
								<div class="form-group">
									<label for="ProductReview_RatingAvg">@L("RatingAvg")</label>
									<input class="form-control m-input" id="ProductReview_RatingAvg" value="@Model.ProductReview.RatingAvg.ToString(CultureInfo.InvariantCulture)" type="number" name="ratingAvg"  />
								</div>
					
								<div class="form-group">
									<label for="ProductReview_ReviewCount">@L("ReviewCount")</label>
									<input class="form-control m-input" id="ProductReview_ReviewCount" value="@Model.ProductReview.ReviewCount.ToString(CultureInfo.InvariantCulture)" type="number" name="reviewCount"  />
								</div>
					
								<div class="form-group">
									<label for="ProductReview_Intineraty">@L("Intineraty")</label>
									<input class="form-control m-input" id="ProductReview_Intineraty" value="@Model.ProductReview.Intineraty.ToString(CultureInfo.InvariantCulture)" type="number" name="intineraty"  />
								</div>
					
								<div class="form-group">
									<label for="ProductReview_Service">@L("Service")</label>
									<input class="form-control m-input" id="ProductReview_Service" value="@Model.ProductReview.Service.ToString(CultureInfo.InvariantCulture)" type="number" name="service"  />
								</div>
					
								<div class="form-group">
									<label for="ProductReview_Transport">@L("Transport")</label>
									<input class="form-control m-input" id="ProductReview_Transport" value="@Model.ProductReview.Transport.ToString(CultureInfo.InvariantCulture)" type="number" name="transport"  />
								</div>
					
								<div class="form-group">
									<label for="ProductReview_GuideTour">@L("GuideTour")</label>
									<input class="form-control m-input" id="ProductReview_GuideTour" value="@Model.ProductReview.GuideTour.ToString(CultureInfo.InvariantCulture)" type="number" name="guideTour"  />
								</div>
					
								<div class="form-group">
									<label for="ProductReview_Food">@L("Food")</label>
									<input class="form-control m-input" id="ProductReview_Food" value="@Model.ProductReview.Food.ToString(CultureInfo.InvariantCulture)" type="number" name="food"  />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
