@using TepayLink.Sdisco.Authorization
@using TepayLink.Sdisco.Web.Areas.Admin.Models.RevenueByMonths
@using TepayLink.Sdisco.Web.Areas.Admin.Startup
@model RevenueByMonthsViewModel
@{
    ViewBag.CurrentPageName = AdminPageNames.Common.RevenueByMonths;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/Admin/Views/RevenueByMonths/Index.js" asp-append-version="true"></script>
}

 <div class="kt-subheader kt-grid__item">
  
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">
            <span>@L("RevenueByMonths")</span>
        </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <span class="kt-subheader__desc">
            @L("RevenueByMonthsHeaderInfo")
        </span>
    </div>
    <div class="kt-subheader__toolbar">
        <div class="kt-subheader__wrapper">
            <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>
            @if (IsGranted(AppPermissions.Pages_Administration_RevenueByMonths_Create))
            {
                <button id="CreateNewRevenueByMonthButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewRevenueByMonth")</button>
            }
        </div>
    </div>
  
</div>
<div class="kt-content">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body">
            <div class="kt-form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">
                        <div class="form-group align-items-center">
                            <div class="input-group">
                                <input type="text" id="RevenueByMonthsTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetRevenueByMonthsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
						<div class="kt-separator kt-separator--border-dashed"></div>
					</div>

                            <div class="col-md-3">
                                 <div class="form-group">
									<label  for="MinUserIdFilterId">@L("MinMax") @L("UserId")</label>
									<div class="input-group">
										<input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minUserIdFilter" id="MinUserIdFilterId"/>
                                        <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxUserIdFilter"  id="MaxUserIdFilterId"/>
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                 <div class="form-group">
									<label  for="MinRevenueFilterId">@L("MinMax") @L("Revenue")</label>
									<div class="input-group">
										<input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minRevenueFilter" id="MinRevenueFilterId"/>
                                        <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxRevenueFilter"  id="MaxRevenueFilterId"/>
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="form-group">
										<label for="MinDateFilterId">@L("DateRange")</label>
										<div class="input-group">
											<input class="form-control m-input date-picker" type="text" placeholder="@L("MinValue")"  id="MinDateFilterId">
											<span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
											<input class="form-control m-input date-picker" type="text" placeholder="@L("MaxValue")"  id="MaxDateFilterId">
										</div>
									</div>
                            </div>

                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
            <div class="row align-items-center">
                <table id="RevenueByMonthsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>@L("Actions")</th>
								<th>@L("UserId")</th>
								<th>@L("Revenue")</th>
								<th>@L("Date")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
  
</div>