@using TepayLink.Sdisco.Authorization
@using TepayLink.Sdisco.Web.Areas.Admin.Models.TransPortdetails
@using TepayLink.Sdisco.Web.Areas.Admin.Startup
@model TransPortdetailsViewModel
@{
    ViewBag.CurrentPageName = AdminPageNames.Common.TransPortdetails;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/Admin/Views/TransPortdetails/Index.js" asp-append-version="true"></script>
}

 <div class="kt-subheader kt-grid__item">
  
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">
            <span>@L("TransPortdetails")</span>
        </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <span class="kt-subheader__desc">
            @L("TransPortdetailsHeaderInfo")
        </span>
    </div>
    <div class="kt-subheader__toolbar">
        <div class="kt-subheader__wrapper">
            <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>
            @if (IsGranted(AppPermissions.Pages_TransPortdetails_Create))
            {
                <button id="CreateNewTransPortdetailButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewTransPortdetail")</button>
            }
        </div>
    </div>
  
</div>
<div class="kt-content">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body">
            <div class="kt-form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">
                        <div class="form-group align-items-center">
                            <div class="input-group">
                                <input type="text" id="TransPortdetailsTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetTransPortdetailsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
						<div class="kt-separator kt-separator--border-dashed"></div>
					</div>

							<div class="col-md-3">
								<div class="form-group">
									<label for="FromFilterId">@L("From")</label>
									<input type="text" class="form-control" name="fromFilter" id="FromFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="ToFilterId">@L("To")</label>
									<input type="text" class="form-control" name="toFilter" id="ToFilterId">
								</div>
                            </div>
                            <div class="col-md-3">
                                 <div class="form-group">
									<label  for="MinTotalSeatFilterId">@L("MinMax") @L("TotalSeat")</label>
									<div class="input-group">
										<input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minTotalSeatFilter" id="MinTotalSeatFilterId"/>
                                        <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxTotalSeatFilter"  id="MaxTotalSeatFilterId"/>
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<label for="IsTaxiFilterId">@L("IsTaxi")</label>
								<select class="form-control" name="IsTaxiFilter" id="IsTaxiFilterId">
									<option value="-1">@L("All")</option>
									<option value="0">@L("False")</option>
									<option value="1">@L("True")</option>
								</select>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="ProductNameFilterId">(@L("Product")) @L("Name")</label>
									<input type="text" class="form-control" name="productNameFilter" id="ProductNameFilterId">
								</div>
                            </div>

                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
            <div class="row align-items-center">
                <table id="TransPortdetailsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>@L("Actions")</th>
								<th>@L("From")</th>
								<th>@L("To")</th>
								<th>@L("TotalSeat")</th>
								<th>@L("IsTaxi")</th>
								<th>@L("ProductName")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
  
</div>